ENV=development
APP_NAME=PayNora
PORT=8000
HOST=0.0.0.0

# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=paynora_user
POSTGRES_PASSWORD=paynora_password
POSTGRES_DB=paynora_db

# Cache & Messaging
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Security & Secrets
JWT_SECRET=super_secret_paynora_jwt_key_2026_dev
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Providers (Mock Configuration)
KYC_PROVIDER=mock
AML_PROVIDER=mock
PAYMENT_PROVIDER=mock
FX_PROVIDER=mock
